html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: Verdana, Geneva, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  margin: 15px;
  padding: 10px;
  background-color: #ccfff5;
}

h2 {
  font-size: 35px;
}

#title {
  text-align: center;
  margin-bottom: 30px;
}

#select_div {
  margin: auto;
  width: 45%;
}

select {
  float: right;
  height: 25px;
  font-size: 16px;
  margin-right: 5%;
}

.label_select {
  margin-left: 5%;
}

#btn_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit_button {
  font-size: 20px;
  height: 35px;
}

.num select{
  width: 60px;
}

#rec_div {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  text-align: center;
}

#rec_div div {
  margin-bottom: 10px;
}


@media screen and (max-width: 1200px) {
  #select_div {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  #select_div {
    width: 70%;
  }
}
